---
import Layout from "../layouts/Layout.astro";
import Sns from "../components/Sns.astro";
import Footer from "../components/Footer.astro";
import AboutMe from "./aboutme/about_me.md";
import Work from "../components/work.astro";

const snsList = [
  {
    sns: "GitHub",
    id: "@yub4-arema",
    icon: "/icons/github-mark-white.svg",
    bgColor: "rgba(30,30, 30, 0.8)",
    href: "https://github.com/yub4-arema",
  },
  {
    sns: "Twitter",
    id: "@yub4_arema",
    icon: "/icons/logo-white.png",
    bgColor: "rgba(0, 0, 0, 0.9)",
    href: "https://twitter.com/yub4_arema",
  },
  {
    sns: "zenn",
    id: "yub4_arema",
    icon: "/icons/logo-only.svg",
    bgColor: "rgba(62,168,255, 0.6)",
    href: "https://zenn.dev/yub4_arema",
  },
];

const workList = [
  {
    title: "25_bot",
    description: "UEC25生のtwitter投稿を取得するLLMと会話ができるbotです。",
    image: "/photos/works/25_bot.png",
    href: "https://example.com/project1",
  },
];
---

<Layout>
  <div
    class="min-h-screen w-full flex flex-col items-center gap-[10vh] py-[15vh] px-4 relative z-1 text-black/80 text-lg after:content-[''] after:absolute after:top-[0%] after:bottom-[88%] after:left-0 after:right-0 after:bg-[#A60A0A] after:opacity-100 after:-skew-y-[15deg] after:z-0"
  >
    <div
      class="p-8 w-[80vw] max-w-[70rem] bg-white/80 rounded-[1vh] relative z-10 flex flex-col text-center space-y-6"
    >
      <img
        src="/photos/iconpin.png"
        alt="Yubarema Logo"
        class="w-[50vw] max-w-[30rem] rounded-full relative z-10 shadow-[0_4px_24px_#F2DAAC55] mt-[-5rem] mx-auto"
      />
      <h1 class="text-3xl font-bold m-[1rem]">湯葉あれま</h1>
      <p class="mx-auto max-w-2xl leading-relaxed">
        プログラミングができなくてぇ...
      </p>
      <div class="flex gap-4 flex-wrap justify-center pt-2">
        {
          snsList.map(({ sns, id, icon, bgColor, href }) => (
            <Sns sns={sns} id={id} icon={icon} bgColor={bgColor} href={href} />
          ))
        }
      </div>
    </div>

    <div
      class="p-8 w-[80vw] max-w-[70rem] bg-white/80 rounded-[1vh] relative z-10 text-lg space-y-6"
    >
      <h1 class="text-2xl font-bold tracking-wide">About Me</h1>
      <div class="markdown-content">
        <AboutMe />
      </div>
    </div>

    <div
      class="p-8 w-[80vw] max-w-[70rem] bg-white/80 rounded-[1vh] relative z-10 text-lg space-y-4"
    >
      <h1 class="text-2xl font-bold tracking-wide">Works</h1>
      <div class="grid grid-cols-1 gap-6">
        {
          workList.map(({ title, description, image, href }) => (
            <Work title={title} description={description} image={image} href={href} />
          ))
        }
      </div>
    </div>

    <Footer class="mb-0" />
  </div>
</Layout>
