---
import Layout from "../layouts/Layout.astro";
import Sns from "../components/Sns.astro";
import Footer from "../components/Footer.astro";
import AboutMe from "./aboutme/about_me.md";
import Work from "../components/work.astro";

const snsList = [
  {
    sns: "GitHub",
    id: "@yub4-arema",
    icon: "/icons/github-mark-white.svg",
    bgColor: "rgba(30,30, 30, 0.8)",
    href: "https://github.com/yub4-arema",
  },
  {
    sns: "Twitter",
    id: "@yub4_arema",
    icon: "/icons/logo-white.png",
    bgColor: "rgba(0, 0, 0, 0.9)",
    href: "https://twitter.com/yub4_arema",
  },
  {
    sns: "zenn",
    id: "yub4_arema",
    icon: "/icons/logo-only.svg",
    bgColor: "rgba(62,168,255, 0.6)",
    href: "https://zenn.dev/yub4_arema",
  },
];

const workList = [
  {
    title: "25_bot",
    description: "UEC25生のtwitter投稿を取得するLLMと会話ができるbotです。",
    image: "/photos/works/25_bot.png",
    href: "src/pages/works/25_bot.astro",
  },
];
---

<Layout>
  <>
    <div
      class="bg-[url('/photos/bridge.jpg')] bg-cover h-[100vh] w-[100vw] flex flex-col justify-center items-center text-center"
    >
      <div
        class="bg-[rgba(255,255,255,0.6)] bg-opacity-50 p-8 rounded-lg w-[75vw] flex flex-col justify-center items-center"
      >
        <img
          src="/photos/iconpin.png"
          class="rounded-[50%] w-[30vw] max-w-[50rem] mt-[-10vh] mb-[1rem]"
          alt="Yubarema Logo"
        />
        <h1 class="text-[1.7rem]">湯葉あれま</h1>
        <p class="text-[1.2rem]">プログラミングができなくてぇ...</p>
        <div class="flex flex-wrap mt-4">
          {
            snsList.map(({ sns, id, icon, bgColor, href }) => (
              <Sns
                sns={sns}
                id={id}
                icon={icon}
                bgColor={bgColor}
                href={href}
              />
            ))
          }
        </div>
      </div>
    </div>
    <div>
      <h1>About Me</h1>
      <div class="markdown-content">
        <AboutMe />
      </div>
    </div>

    <div>
      <h1>Works</h1>
      <div>
        {
          workList.map(({ title, description, image, href }) => (
            <Work
              title={title}
              description={description}
              image={image}
              href={href}
            />
          ))
        }
      </div>
    </div>

    <Footer />
  </>
</Layout>
