---
const {sns,id, icon , bgColor, href} = Astro.props;
---

<a
  href={href}
  class="m-2 rounded-lg  text-[clamp(0.8rem,2vw,1.5rem)] font-[clamp(1rem,2vw,2rem)] p-[1vw] flex gap-[1vw] items-center no-underline hover:opacity-80"
  style={`background-color: ${bgColor};`}
>
  <img src={icon} alt={`${sns} icon`} class="h-[5vw] max-h-[2rem] m-2"/>
  <span class="text-white my-auto">{id}</span>
</a>
