---
const {sns,id, icon , bgColor, href} = Astro.props;
---

<a
  href={href}
  style={`background-color: ${bgColor};`}
  class="flex items-center no-underline p-4 rounded-lg mx-auto text-white text-[3vw] md:text-lg w-auto"
>
  <img src={icon} alt={`${sns} icon`} class="h-8 " />
  <span class="ml-4">{id}</span>
</a>
