---
const {sns,id, icon , bgColor, href} = Astro.props;
---

<a
  href={href}
  class="m-2 rounded-lg  text-[1.5rem] font-[2rem] p-2 flex gap-1"
  style={`background-color: ${bgColor};`}
>
  <img src={icon} alt={`${sns} icon`} class="h-[2rem] m-auto"/>
  <span class="text-white">{id}</span>
</a>
